# https://github.com/browserslist/browserslist

# defaults

> 0.5%
last 2 versions
Firefox ESR
not dead

# custom
android < 5
not Explorer < 100
not ExplorerMobile < 100
not OperaMini all
not Safari < 7
