/**
 * TIP：需要替换为具体的字体库
 *
 * @since 1.0.0
 * @version 1.0.0
 */

@font-face {
  font-family: 'iconfont'; /* project id 2017145 */
  src: url('//at.alicdn.com/t/font_2017145_cbnq87ruraq.eot');
  src: url('//at.alicdn.com/t/font_2017145_cbnq87ruraq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2017145_cbnq87ruraq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2017145_cbnq87ruraq.woff') format('woff'),
    url('//at.alicdn.com/t/font_2017145_cbnq87ruraq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2017145_cbnq87ruraq.svg#iconfont') format('svg');
}

.mpm-icon {
  font-family: 'iconfont' !important; /* stylelint-disable-line */
  font-weight: 400;
  font-size: 16px;
  // line-height: 1; // 不需要设置为1，会导致不同浏览器显示有差异
  color: inherit;
  font-style: normal;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu::before {
  content: '\e677';
}

.icon-store::before {
  content: '\e6a9';
}

.icon-hand::before {
  content: '\e6aa';
}

.icon-wechat::before {
  content: '\e6ab';
}

.icon-location::before {
  content: '\e6ac';
}

.icon-telphone::before {
  content: '\e6ad';
}

.icon-bofang::before {
  content: '\e618';
}

.icon-radio-dot-circle-checked::before {
  content: '\e6a7';
}

.icon-radio-dot-circle::before {
  content: '\e6a8';
}

.icon-add-circle-fill::before {
  content: '\e6a3';
}

.icon-ashbin-circle-fill::before {
  content: '\e6a5';
}

.icon-close-circle-fill::before {
  content: '\e6a6';
}

.icon-radio-circle-fill::before {
  content: '\e6a2';
}

.icon-tip::before {
  content: '\e6a1';
}

.icon-arrow-left-bold::before {
  content: '\e69e';
}

.icon-arrow-bottom-bold::before {
  content: '\e69f';
}

.icon-arrow-top-bold::before {
  content: '\e6a0';
}

.icon-add::before {
  content: '\e67b';
}

.icon-close::before {
  content: '\e67e';
}

.icon-checkbox-disabled::before {
  content: '\e67f';
}

.icon-search::before {
  content: '\e680';
}

.icon-checkbox-fill::before {
  content: '\e683';
}

.icon-tips::before {
  content: '\e688';
}

.icon-edit::before {
  content: '\e68b';
}

.icon-purse::before {
  content: '\e68c';
}

.icon-star::before {
  content: '\e68d';
}

.icon-tuoyuan::before {
  content: '\e68e';
}

.icon-tuoyuan-2::before {
  content: '\e68f';
}

.icon-pull::before {
  content: '\e6ae';
}

.icon-forbid::before {
  content: '\e690';
}

.icon-mobile-phone::before {
  content: '\e691';
}

.icon-lock::before {
  content: '\e692';
}

.icon-arrow-right-bold::before {
  content: '\e693';
}

.icon-player::before {
  content: '\e694';
}

.icon-photo::before {
  content: '\e695';
}

.icon-push::before {
  content: '\e696';
}

.icon-share::before {
  content: '\e697';
}

.icon-minus-ellipse-fill::before {
  content: '\e698';
}

.icon-add-ellipse-fill::before {
  content: '\e699';
}

.icon-order::before {
  content: '\e69a';
}

.icon-add-circle::before {
  content: '\e69b';
}

.icon-arrow-bottom-fill::before {
  content: '\e69c';
}

.icon-arrow-top-fill::before {
  content: '\e69d';
}

.icon-home::before {
  content: '\e674';
}

.icon-ashbin::before {
  content: '\e666';
}

.icon-bianji::before {
  content: '\e8ac';
}

.icon-tukuan::before {
  content: '\e6af';
}
