@font-face {
  font-family: 'DIN-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('DIN-Bold.eot');
  src: url('DIN-Bold.eot?#iefix') format('embedded-opentype'), url('DIN-Bold.ttf') format('truetype'),
    url('DIN-Bold.woff2') format('woff2'), url('DIN-Bold.woff') format('woff'),
    url('DIN-Bold.svg#DIN-Bold') format('svg');
}

.DIN-b {
  font-family: 'DIN-Bold', sans-serif;
}
